* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
h2 {
  color: grey;
}
h3{
  font: bold 17px Arial;
}
.well {
  border-width: 2px;
}
.line {
  fill: none;
  stroke-width: 2px;
  clip-path: url(#clip);
}
#selDataset { 
  width:450px; }

  em {
    font: 16px Arial;
  
  }

